.meal-card{
    background:white;
    border-radius:8px;
    overflow:hidden;
    box-shadow:0 2px 8px rgba(0,0,0,.2);
    padding:15px;

    width:280px;
    margin:auto;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.meal-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 18px rgba(0, 0, 0, 0.2);
}

.meal-card img{
    width:100%;
    height:220px;
    object-fit:cover;
}

.meal-name{
    padding:15px;
}

.meal-name h2{
    font-size:20px;
    margin-bottom:8px;
}

.meal-name p{
    color:#777;
}

.meal-button{
    padding:0 15px 15px;
}

.red-button{
    width:100%;
    background:#ff6b5a;
    color:white;
    border:none;
    padding:12px;
    cursor:pointer;
    border-radius:4px;
    cursor: pointer;
}